.container{
    border: 3px solid black;
    height: 500px;
    background-color: red;
    width: 300px;
    display: flex;
}
.box{
    height: 150px;
    width: 150px;
    margin: 20px;
    border: 2px solid orange;
    background-color: aqua;
    /* transition-property: background-color;
    transition-delay: 1s; */
    /* transition: background-color 5s ease 1s; */
    /* transition: transform 1s ease 1s; */
    /* transition: transform 3s ease-out; */
    transition: transform 3s cubic-bezier(1,-0.09,0,1.69);
}
.box:hover{
       background-color: black;
       transform: translateX(500px) rotate(360deg);
}
 .container:hover{
    background-color: yellow;
} 
