/* p{
    position:static;
} */
/* .box{
    position: relative;
    left: 15px;
    top: 100px;
} */
div{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: aqua;
    border:solid black;

}
.wrapper{
    width: 100vw;
    height: 2000px;
    background-color: yellow;
}
/* .box{
    position: relative;   
     left: 15px; 
     top: 100px; 
} */
#box2{
    position: relative;
    top: 100px;
    left: 50px;
}
#box1{
    position: fixed;
}
#box4{
    position: sticky;
}